* {background-color: rgb(207, 189, 166);
margin: 5px;
padding: 5px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

h3 {
    font-size: 150px;
    text-align: center;
    color: rgb(97, 59, 10);
}

/*header only*/
header > img {
    border: goldenrod solid 5px;
    padding: 25px;
    height: 500px;
    margin-left: 300px;
}

header > h1 {
font-size: 200px;
margin-left: 310px;
margin-top: 200px;}

header > nav > ul {
    margin-left: 505px;}

header > nav > ul > li {
    display:inline-block;
    margin: 150px;
    padding: 50px;
    border: goldenrod solid 10px;
    border-radius: 20%;
    font-size: 100px;
}

    
/*main*/
main > section {
    display: inline-block;
    padding: 150px;
    width: fit-content;}

/*section image*/
main > section > img {
    float: left;
    margin-top: 100px;
    margin-left: 60px;
    border: goldenrod solid 5px;
    padding: 25px;
    width: 1000px;}

/*section words*/
main > section > article > p {
    display: inline-block;
    width: 350px;
    font-size: 50px;
    margin-left: 20px;
    margin-top: 100px;}

footer {
    font-size: 50px;
    border: goldenrod solid 5px;
    padding: 50px;
    margin: 100px;}