* {
    background-color: rgb(207, 189, 166);
    /*margin: 5px;
    padding: 5px;*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

h3 {
    font-size: 50px;
    text-align: center;
    color: rgb(97, 59, 10);
}

/*header only*/
header > img {
    border: goldenrod solid 5px;
    padding: 25px;
    height: 800px;
    float: left;
    margin-left: 100px;
}

header > h1 {
font-size: 150px;
text-align: center;
margin-left: 310px;
margin-top: 200px;
text-align: center;}

header > nav >ul {
    align-items: center;
    margin-left: 1500px;}
    
    
    header > nav > ul > li {
        display: inline-block;
        width: fit-content;
        margin-left: 1000px;
    margin: 50px;
    padding: 50px;
    border: goldenrod solid 10px;
    border-radius: 20%;
    font-size: 100px;
}

    
/*main*/
main > section {
    display: inline-block;
    padding: 150px;}

/*section image*/
main > section > img {
    display: inline-block;
    margin-top: 100px;
    margin-left: 60px;
    border: goldenrod solid 5px;
    padding: 25px;
    width: 500px}

/*section words*/
main > section > article > p {
    display: inline-block;
   max-width: 400px;
    font-size: 50px;
    margin-left: 20px;
    margin-top: 100px;
    text-align: center;}

footer {
    font-size: 50px;
    border: goldenrod solid 5px;
    padding: 50px;
    margin: 100px;}